body{
    font-family: Montserrat;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 1.5;
    width: 65%;
}
/*Nav bar*/
.navbar{
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat;
}
.navbar-brand{
    padding: 0 900px 0 0;
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: bold;
}